500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "paulo.BMP"

101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "fundo.BMP"

102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "coracao.BMP"
